@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  top: 0px !important;
}
* {
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}


.leaflet-container {
  height: 600px;
  width: 80%;
}

.goog-logo-link {
  display: none !important;
}
.goog-te-gadget {
  font-size: 0px !important;
}
div.goog-te-gadget {
  color: transparent !important;
}
#google_translate_element {
  color: transparent;
}
#google_translate_element a {
  display: none;
}
.goog-te-combo {
  color: black;
  width: 100%;
  height: 100%;
  font-family: "Inter", sans-serif;
}
.goog-te-banner-frame.skiptranslate {
  display: none !important;
}
.VIpgJd-ZVi9od-ORHb-OEVmcd {
  display: none;
}

#google_translate_element select {
  background-color: #1e3a8a;
  color: #ffffff;
  border: none;
  border-radius: 32px;
  padding: 16px 12px;
}
